@keyframes fade-in {
  from {
    translate: -25vw;
    opacity: 0;
  }
}

.my-photo {
  display: block;
  margin-inline: auto;
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-timing-function: linear;

  view-timeline-name: --fade-in-image;
  animation-timeline: --fade-in-image;
  animation-range: 20% 50%;
}

@keyframes fade-in {
  from {
    -webkit-transform: translate(-25vw);
    transform: translate(-25vw);
    opacity: 0;
  }
}
.my-photo {
  animation-name: fade-in;
  -webkit-animation-name: fade-in;
}

// .skills__wrapper {
//   position: relative;
//   overflow: hidden;
// }

// .skills__wrapper-elem {
//   position: absolute;
//   left: -100px; /* Начальная позиция за пределами экрана */
//   opacity: 0; /* Начальная непрозрачность */
//   transform: rotate(0deg); /* Начальное вращение */
//   transition: transform 0.5s ease, opacity 0.5s ease; /* Плавный переход */
// }

// .visible {
//   left: 50%; /* Позиция по центру экрана */
//   opacity: 1; /* Полная непрозрачность */
//   transform: rotate(360deg); /* Вращение на 360 градусов */
// }
