@keyframes fade-in {
  from {
    translate: -25vw;
    opacity: 0;
  }
}

.my-photo {
  display: block;
  margin-inline: auto;
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-timing-function: linear;

  view-timeline-name: --fade-in-image;
  animation-timeline: --fade-in-image;
  animation-range: 20% 50%;
}

@keyframes fade-in {
  from {
    -webkit-transform: translate(-25vw);
    transform: translate(-25vw);
    opacity: 0;
  }
}

.my-photo {
  animation-name: fade-in;
  -webkit-animation-name: fade-in;
}
