@keyframes fade-in {
  from {
    translate: -25vw;
    opacity: 0;
  }
}

.my-photo {
  display: block;
  margin-inline: auto;
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-timing-function: linear;

  view-timeline-name: --fade-in-image;
  animation-timeline: --fade-in-image;
  animation-range: 20% 50%;
}

@keyframes shake {
  0% {
    transform: translate(3px, 0);
  }
  25% {
    transform: translate(-3px, 0);
  }
  50% {
    transform: translate(3px, 0);
  }
  75% {
    transform: translate(-3px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes resize {
  0% {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  25% {
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 1fr 2fr 3fr;
  }

  50% {
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
  }

  75% {
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-rows: 3fr 2fr 1fr;
  }

  100% {
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 2fr;
  }
}
