@media (max-width: 1439px) {
  .sidepanel {
    display: none;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .about {
    &__wrapper {
      grid-template-columns: 400px 520px;
      column-gap: 40px;
    }

    &__skills {
      column-gap: 20px;
      grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 250px);

      &-item {
        grid-template-columns: 40px 195px;
        column-gap: 15px;
      }
    }
  }

  .resume {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 320px);
      justify-content: space-between;
    }
  }

  .skills {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 270px);
      justify-content: space-between;
    }

    &__progress {
      grid-template-columns: repeat(auto-fit, 350px);
      justify-content: space-between;
    }
  }

  .portfolio {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 280px);
      grid-auto-rows: 280px;
      justify-content: space-between;
      row-gap: 35px;

      .horizonal,
      .vertical {
        grid-row: unset;
        grid-column: unset;
      }
    }
  }

  .contacts {
    &__wrapper {
      padding: 0;
      grid-template-columns: 400px 520px;
    }

    &__form {
      grid-template: 45px 190px 45px / repeat(2, 250px);
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .title {
    &_fz36 {
      font-size: 30px;
    }
  }

  .about {
    &__wrapper {
      grid-template-columns: 300px 380px;
    }

    &__skills {
      grid-template-columns: 380px;
      grid-auto-rows: minmax(0, auto);

      &-item {
        grid-template-columns: 40px 320px;
        column-gap: 20px;
      }
    }
  }

  .resume {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 225px);
      justify-content: space-between;
    }
  }

  .skills {
    &__progress {
      grid-template-columns: repeat(auto-fit, 336px);
      justify-content: space-between;
    }

    &__wrapper {
      grid-template-columns: repeat(auto-fit, 270px);
      justify-content: space-between;
      animation: none;
    }
  }

  .price {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 350px);
      padding: 0;
    }
  }

  .contacts {
    &__wrapper {
      grid-template-columns: 300px 400px;
    }

    &__form {
      grid-template: 45px 190px 45px / repeat(2, 195px);
    }

    &__btn {
      padding: 8px 25px;
      line-height: 16px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
  }

  .title {
    &_fz48 {
      font-size: 28px;
    }
  }

  .menu {
    &__block {
      padding-top: 70px;
    }
  }

  .promo {
    &__title {
      line-height: 39px;
      width: 300px;
    }

    &__subtitle {
      margin-top: 140px;
    }
  }

  .about {
    padding-top: 40px;

    &__wrapper {
      grid-template: 400px auto auto / 1fr;
    }

    &__skills {
      grid-template-columns: repeat(2, 260px);

      &-item {
        grid-template-columns: 40px 200px;
        column-gap: 20px;
      }
    }
  }

  .resume {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 425px);
      justify-content: space-between;
    }

    &__item {
      &-head {
        padding: 45px 0 0 90px;
      }
    }
  }

  .skills {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 270px);
      justify-content: center;
    }

    &__progress {
      grid-template-columns: repeat(auto-fit, 300px);
      justify-content: center;
      justify-items: center;
    }
  }

  .portfolio {
    &__wrapper {
      justify-content: center;
    }
  }

  .price {
    padding-top: 40px;

    &__wrapper {
      margin-top: 20px;
      justify-content: center;
    }
  }

  .contacts {
    &__wrapper {
      grid-template-columns: 230px 290px;
    }

    &__form {
      grid-template: 45px 120px 45px / repeat(2, 135px);
    }

    &__policy {
      font-size: 10px;
    }
  }

  .title_fz36 {
    font-size: 24px;
  }

  .title_fz16 {
    top: 0;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }

  .title {
    &_fz48 {
      font-size: 26px;
    }

    &_fz36 {
      font-size: 24px;
      line-height: 40px;
    }
  }

  .hamburger {
    right: 20px;
  }

  .menu {
    &__block {
      width: 250px;
      padding-left: 20px;
      padding-top: 200px;
    }

    &__link {
      font-size: 20px;
      line-height: 50px;
    }

    &__social {
      bottom: 20px;
    }
  }

  .promo {
    background: url(../img/main_bg.jpeg) no-repeat 34% / cover;

    &__btns {
      margin-top: 30px;
    }

    &__title {
      font-size: 30px;
      width: 350px;
    }

    &__subtitle {
      font-size: 20px;
      margin-top: 90px;
    }
  }

  .about {
    &__wrapper {
      grid-template: 340px auto auto / 1fr;
      justify-items: center;
    }

    &__skills {
      grid-template-columns: 1fr;
    }
  }

  .resume {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 250px);
      justify-content: center;
    }
  }

  .skills {
    &__progress {
      &-line {
        display: none;
      }

      &-item {
        width: 260px;
      }
    }
  }

  .price {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 310px);
    }
  }

  .contacts {
    &__photo {
      display: none;
    }

    &__wrapper {
      grid-template-columns: 290px;
      justify-content: center;
    }
  }
}

@media (max-width: 360px) {
  .container {
    width: 100%;
  }

  .promo {
    &__title {
      font-size: 25px;
      width: 260px;
    }

    &__subtitle {
      font-size: 16px;
      margin-top: -60px;
    }
  }

  .menu {
    display: flex;

    &__link {
      font-size: 17px;
      line-height: 40px;
    }

    &__block {
      padding-top: 70px;
    }
  }
}
